:root {
    /* ===== Colors ===== */
    --body-color: #F7FBFF;
    --sidebar-color: #292e45;
    --sidebar-text-color: #bae9a0;
    --primary-light: rgb(72, 67, 224, 0.1);
    --main-primary: #8bcf39;
    /* ===== Color change in Dark Mode===== */
    --primary-color: #8bcf39;
    --secondary-color: #292e45;
    --secondary-color-light: #6C727F;
    --secondary-color-rgb-op: rgb(235 87 87 / 10%);
    --primary-color-border: #8884ff;
    --primary-color-rgb-op: rgb(72 67 224 / 10%);
    --btn_secondary: rgb(72 67 224 / 10%);
    --btn_third: #eb5757;
    --primary-color-light: #ffffff;
    --toggle-color: #ddd;
    --text-color: #707070;
    --text-color2: #000000;
    --text-color3: #fff;
    --white-grey: #fff;
    --primary-white: #4843e0;
    /* ===== Color not change in Dark Mode===== */
    --text-secondary: #006666;
    --tooltip-bg: #8bcf39;
    --btn_card: #4e44bb;
    --collapse-icon: #fff;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --main-primary: #625ee1;
    --primary-light: #cccccc8a;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --text-color2: #ccc;
    --text-secondary: #ccc;
    --sidebar-text-color: #ccc;
    --primary-color-rgb-op: rgb(72 67 224 / 60%);
    --btn_secondary: rgb(185 182 255 / 96%);
    --tooltip-bg: #4843e0;
    --collapse-icon: #4843e0;
    --white-grey: #3a3b3c;
    --primary-white: #ccc;
}

@font-face {
    font-family: Inter;

    src: url(../fonts/Inter/Inter-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    accent-color: var(--primary-color);
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none !important;
}

.btn-bm-primary {
    /* border: 1px solid #727272; */
    background-color: var(--primary-color);
    color: var(--primary-color-light);
}

.btn-bm-primary:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
}

.btn-bm-secondary {
    border: 1px solid #727272;
    color: var(--secondary-color);
    /* background-color: var(--primary-color); */
}

.btn-bm-secondary:hover {
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
    /* background-color: var(--primary-color); */
}

.bm-primary {
    background-color: var(--primary-color);
}

.bm-warning {
    background-color: #FEE096;
}

.text-bm-primary {
    color: var(--primary-color);
}

.text-bm-secondary-light {
    color: var(--secondary-color-light);
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1035;
    /* changed 17/02/2023 */
    /* changed 13/02/2023 */
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 32px;
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
}

.sidebar li:not(.active) {
    opacity: 0.3;
    transition: 0.3s;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--sidebar-text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    letter-spacing: 0.3px;
    display: block;
}

.sidebar.close .text {
    /* opacity: 0; */
    display: none;
}

.sidebar.close .op_0 {
    display: none;
}

.sidebar.close .help_center {
    background-color: transparent;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    padding: 0 14px;
}

.sidebar.close header .image-text {
    padding: 0;
}

.dark .sidebar header .logo-text {
    filter: brightness(1) invert(1);
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 24px;
}

.sidebar header .logo-text img {
    width: 100%;
}

.sidebar .toggle_icon {
    position: relative;
}

.sidebar .toggle_icon .hr_line {
    opacity: 1;
    width: 90%;
    transition: var(--tran-03);
}

.sidebar.close .toggle_icon .hr_line {
    opacity: 0;
    transition: var(--tran-03);
}

.sidebar .toggle_icon .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar .toggle_icon .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 6px;
    top: 30%;
    position: relative;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    /* margin: 0 20px; */
    border-radius: 11px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar.close li a {
    margin: auto;
    transition: var(--tran-03);
}

/* .sidebar li a:hover, */
/* .sidebar li.active a {
    background-color: var(--primary-color-rgb-op);
} */

/* .sidebar li a:hover .icon,
.sidebar li a:hover .text,
.sidebar li.active .icon,
.sidebar li.active .text {
    color: var(--sidebar-text-color);
    font-weight: 600;
} */

.sidebar li:has(> a:hover) {
    opacity: 1;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: var(--tooltip-bg);
    color: var(--text-color3);
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}


.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .help_center {
    background-color: var(--primary-color-rgb-op);
    border-radius: 16px;
}

.sidebar.open li .tooltip {
    display: none;
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow-y: scroll; */
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.overlay_home {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #000 !important;
    filter: alpha(opacity=50) !important;
    -moz-opacity: 0.5 !important;
    -khtml-opacity: 0.5 !important;
    opacity: 0.5 !important;
    z-index: 1034 !important;
    /*changed 17/02/2023*/
    pointer-events: none !important;
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 220px;
    height: 100vh;
    width: calc(100% - 220px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.main {
    /* padding-top: 75px; */
    padding-bottom: 35px;
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar .help_text {
    white-space: pre-line;
}

.sidebar.close~.home {
    left: 88px;
    height: 100vh;
    width: calc(100% - 88px);
}

body.dark .home .text {
    color: var(--text-color);
}

.sidebar .help_center {
    position: relative;
    padding: 40px 22px 12px 22px;
    border-radius: 16px;
}

.sidebar .help_center .help_center_img {
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar .help_center .help_center_img img {
    width: 100px;
}

.sidebar .help_center span {
    font-size: 12px;
}

.sidebar .help_center small {
    font-size: 8px;
    opacity: 0.3;
}

.sidebar .help_center button {
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 8px 0 !important;
}

.navbar {
    height: 70px;
}

.navbar_container {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.navbar_container .title_header {
    padding: 13px 12px;
}

.navbar_container .title_header .main_title {
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    white-space: nowrap;
    /* 22/02/2023*/
}

.navbar_container .search_box {
    width: 360px;
    height: 42px;
    background: var(--primary-color-light);
    border-radius: 34px;
}

.navbar_container .search_box .form-control,
.navbar_container .search_box .form-control:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar_container .Notify_content {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    display: grid;
    justify-self: center;
    align-self: center !important;
}

.navbar_container .Notify_content .toggle-switch {
    cursor: pointer;
}

.navbar_container .user_details {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_container .author_name {
    font-weight: 600;
    font-size: 16px;
}

.navbar_container .author_email {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

.navbar_container .user_image {
    width: 50px;
}

.navbar_container .main_title a:hover .mdi-keyboard-backspace {
    color: var(--main-primary);
    transition: 0.3s;
}

.app-sidebar__toggle {
    z-index: 1;
    transition: padding-left 0.3s ease;
    padding: 9px;
    text-align: center;
    height: 2.5rem;
    font-size: 1.2rem;
    line-height: 1;
    position: relative;
    background: var(--primary-color);
    color: var(--primary-color-light) !important;
    border-radius: 50%;
    box-shadow: 0px 2px 3px rgb(4 4 7 / 10%);
}

.responsive-navbar.navbar {
    display: initial;
    flex-basis: inherit;
    flex-wrap: inherit;
}

.nav-link.icon {
    margin: 5px;
    padding: 12px;
    text-align: center;
    height: 2.5rem;
    font-size: 1.2rem;
    position: relative;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    color: transparent;
}

.responsive-navbar .dropdown-menu {
    box-shadow: 0 10px 40px 0 rgb(104 113 123 / 30%);
    border: 1px solid #eaedf1;
}

.navbar_container .breadcrumb {
    margin-bottom: 0;
}

.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform 0.5s;
    background-color: var(--body-color);
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px;
    height: 60px;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
}

.fixed-top .navbar_container {
    height: -webkit-fill-available;
}

/* Navbar fixed top END  */

.sidebar.close~.home .fixed-top {
    left: 88px;
}

/* Select 2 Pluggin Custom css  */

.select2.select2-container {
    width: 100% !important;
}

.select2.select2-container .select2-selection {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 6px;
    height: 36px;
    /* margin-bottom: 15px; */
    outline: none !important;
    transition: all 0.15s ease-in-out;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
    color: #333;
    line-height: 36px;
    padding-right: 33px;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
    /* background: #f8f8f8; */
    /* border-left: 1px solid #ccc; */
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    height: 32px;
    width: 33px;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
    background: #f8f8f8;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {
    border: 1px solid var(--primary-color);
}

.select2.select2-container .select2-selection--multiple {
    height: auto;
    min-height: 34px;
}

.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
    margin-top: 0;
    height: 32px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block;
    padding: 0 4px;
    line-height: 29px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 4px 4px 0 0;
    padding: 0 6px 0 22px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    position: relative;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    margin: 0;
    text-align: center;
    color: #e74c3c;
    font-weight: bold;
    font-size: 16px;
}

.select2-container .select2-dropdown {
    background: transparent;
    border: none;
    margin-top: -5px;
}

.select2-container .select2-dropdown .select2-search {
    padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
    outline: none !important;
    border: 1px solid var(--main-primary) !important;
    border-bottom: none !important;
    padding: 4px 6px !important;
}

.select2-container .select2-dropdown .select2-results {
    padding: 0;
}

.select2-container .select2-dropdown .select2-results ul {
    background: #fff;
    border: 1px solid var(--main-primary);
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    background-color: var(--main-primary);
}

/* For Max Width View 992px */
@media screen and (max-width: 991px) {
    .sidebar {
        left: -270px;
    }

    .sidebar.close {
        left: -270px;
    }

    .home {
        left: 0 !important;
        width: 100% !important;
    }

    /* 13/02/2023 commented*/
    /* .sidenav-toggled .home {  
        left: 160px !important;
    } */

    .responsive-navbar .nav-link.icon {
        padding: 10px !important;
        /* margin: 0px; */
        border-radius: 50px;
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1.2rem;
        display: flex;
    }

    .responsive-navbar .collapse.show .dropdown-menu.show {
        left: 5% !important;
        right: 5% !important;
    }

    .header-right-icons .nav-link.icon {
        border: 1px solid #eaedf1;
    }

    .responsive-navbar .dropdown {
        position: initial;
    }

    .navresponsive-toggler {
        padding: 2px;
    }

    .navresponsive-toggler span {
        margin-top: 2px;
        padding: 9px;
        text-align: center;
        height: 2.5rem;
        font-size: 1.2rem;
        position: relative;
        background: var(--sidebar-color);
        color: var(--text-color2) !important;
        border-radius: 50%;
        box-shadow: 0px 2px 3px rgb(4 4 7 / 10%);
        width: 2.5rem;
    }

    .responsive-navbar .navbar-collapse {
        padding: 5px;
        position: fixed;
        width: 100%;
        background: var(--collapse-icon);
        margin-top: 72px;
        z-index: 50;
        box-shadow: 0 12px 11px -3px rgb(104 113 123 / 10%);
        left: 0;
        right: 0;
        top: 0;
    }

    /* .home .app-sidebar__overlay {
        visibility: hidden;
    } */
    /* .home .sidenav-toggled .app-sidebar__overlay {
        visibility: visible;
    } */
    .sidenav-toggled .sidebar {
        left: 0;
    }

    /* .app-sidebar__overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9;
    } */
    /* Navbar fixed top 13/02/2023  */
    .fixed-top {
        left: 0 !important;
    }

    /* .sidenav-toggled .fixed-top {
        left: 0;
    } */

    .fixed-top .navbar_container {
        height: -webkit-fill-available;
    }

    /* Navbar fixed top END  */
}

.heading {
    font-weight: 600;
}

.num-section {
    display: flex;

    flex-direction: column;

    position: relative;
}

.digits {
    font-weight: 600;
}

.line {
    background-color: #000;

    width: 1px;
}

.circle {
    width: 7px;

    height: 7px;

    position: absolute;

    left: 85%;

    top: 5%;

    background-color: var(--primary-color);
}

.circle1 {
    width: 7px;

    height: 7px;

    position: absolute;

    left: 65%;

    top: 5%;

    background-color: orangered;
}

.circle2 {
    width: 7px;

    height: 7px;

    position: absolute;

    left: 130%;

    top: 5%;

    background-color: orange;
}

.button {
    height: 30px;

    width: 50px;

    color: var(--primary-color);

    border: none;

    font-weight: 600;

    font-size: small;
}

.button:hover {
    color: white;

    background-color: var(--primary-color);
}

.button1 {
    height: 30px;

    width: 70px;

    color: var(--primary-color);

    border: none;

    font-weight: 600;

    font-size: small;
}

.button1:hover {
    color: white;

    background-color: var(--primary-color);
}

.button2 {
    height: 30px;

    width: 150px;

    color: var(--primary-color);

    border: none;

    font-weight: 600;

    font-size: small;
}

.button2:hover {
    color: white;

    background-color: var(--primary-color);
}

.subjects {
    height: 260px;

    display: flex;

    flex-direction: column;

    gap: 20px;
}

.subjects:hover {
    border-color: var(--primary-color);
}

.cards-section {
    gap: 18px 0px;
}

.cards-section .card {
    border-radius: 7.711px;
    border: 0.964px solid #ECECEC;
}

.cards-section .card:hover {
    border-radius: 7.711px;
    border-color: var(--primary-color);
}

.id {
    font-weight: 600;

    font-size: 14px;

    color: var(--primary-color);
}

.count-section {
    font-weight: 600;

    font-size: 14px;

    color: var(--primary-color);

    display: flex;

    justify-content: center;

    align-items: center;
}

.std-text {
    color: #6b6868;

    font-size: 15px;
}

.subjects img {
    height: 31px;

    width: 80px;
}

.card-header .nav-tabs>.nav-item>.nav-link.active {
    background-color: var(--primary-color);

    color: white;
}

.card-header ul a {
    color: #000;
}

.card-header .nav-tabs>.nav-item>.nav-link:hover {
    background-color: var(--primary-color);

    color: white;
}

.card-header .nav-tabs {
    border-bottom: none;
}

@media screen and (min-width:1024px) {

    .card-header ul {
        gap: 30px;
    }
}

.card-header .nav-item .nav-link,
.card-header .nav-tabs .nav-link {
    -webkit-transition: all 300ms ease 0s;

    -moz-transition: all 300ms ease 0s;

    -o-transition: all 300ms ease 0s;

    -ms-transition: all 300ms ease 0s;

    transition: all 300ms ease 0s;
    border-radius: 30px;

}

.card-header .nav-link:focus,
.nav-link:hover {
    color: black;
}

.wrapper-form {
    box-shadow: 0px 3.8625547885894775px 3.8625547885894775px 0px #0000000d;
    min-height: 88vh;
    position: relative;
}

.wrapper-form label {
    font-weight: 600;
}

.wrapper-form small {
    font-size: 11px;
    color: #636363;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: none;
}

.wrapper-form .pop {
    background-color: #ccc;
    padding: 4px 9px;
    color: #000;
}

.divider-h {
    height: 1px;
    width: 100vh;
    background: #ccc;
}

.divider-v {
    width: 1px;
    height: 100%;
    background: #ccc;
}

.standalone-container {
    max-width: 720px;
    /* border: 1px solid #d7d7d7; */
    border-radius: 5px;
}

#snow-container {
    height: 350px;
}

.ql-toolbar.ql-snow {
    border: 1px solid #ccc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.ql-container.ql-snow {
    border: 1px solid #ccc;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.ql-editor {
    min-height: 100px;
}

.count-img {
    width: 70px;
    color: var(--primary-color);
    font-weight: 600;
}

.attach-wrapper {
    border: 1px dashed #ccc;
    border-radius: 6px;
}

.attach-wrapper .attach-solo {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offcanvas.offcanvas-end {
    background-color: var(--secondary-color);
    color: var(--primary-color-light);
    box-shadow: -16.430837631225586px 0px 33.82819366455078px 0px #00000040;
}

@media screen and (min-width: 420px) {
    .offcanvas.offcanvas-end {
        top: 1rem;
        bottom: 1rem;
        right: 1rem;
        border-radius: 12px;
        border-left: 0;
    }
}

.offcanvas.offcanvas-end .close-offcanvas {
    color: var(--primary-color-light);
    outline: none;
    border: none;
    font-size: 20px;
}

.offcanvas-backdrop {
    background-color: transparent;
}

.search-student {
    opacity: 0.2;
    padding: 5px 0;
    border: 1px solid #ffffff;
    border-radius: 6px;
}

.search-student-field {
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
}

.select-students-offcanvas input[type="checkbox"] {
    position: relative;
    cursor: pointer;
}

.select-students-offcanvas input[type="checkbox"]:before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: -1px;
    left: -1px;
    border: 2px solid #565656;
    border-radius: 2px;
    background-color: #565656;
}

.select-students-offcanvas input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #ababab;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 6px;
}

.select-students-offcanvas input[type="checkbox"]:checked:before {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
}

.select-students-offcanvas input[type="checkbox"]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 6px;
}

.select-students-offcanvas table thead {
    border-bottom: 1px solid #434751;
}

.select-students-offcanvas table tr>th:last-of-type,
.select-students-offcanvas table tr>td:last-of-type {
    float: right;
}

.ui.input input:focus,
.ui.input.focus input {
    border-color: var(--primary-color);
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: none;
}

/* Loader  */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    overflow: hidden;
    z-index: 9999;

}

::-webkit-scrollbar {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
}

.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #000;
    opacity: 0.25;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
}

.loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    animation: bxSpin 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}

@keyframes bxSpin {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {

    0%,
    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}



/* Accordian  */


.container_accordian .wrapper {
    margin-bottom: 20px;
    padding: 0px 22px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--primary-color-light);
    transition: 0.3s;
}

.container_accordian .wrapper:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--primary-color);
    transition: 0.3s;
}


.container_accordian .wrapper .toggle_acco {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #111130;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
}

.container_accordian .wrapper .toggle_icon_acco {
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    border-radius: 9px;
}

.container_accordian .wrapper .content_acco {
    position: relative;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    transition: all .3s;
}

.container_accordian .wrapper:has(.content_acco.acco-expand) {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--primary-color);
    transition: 0.3s;
}

.container_accordian .wrapper .content_acco.acco-expand {
    margin-bottom: 15px;
    margin-top: 15px;
}

.container_accordian .wrapper i.icon_ {
    padding: 10px;
    color: #6C727F;
    transition: 0.3s;
    position: absolute;
    right: -14px;
    top: 6px;
}

@media screen and (min-width:768px) {
    .container_accordian .wrapper i.icon_ {
        top: auto;
    }
}

@media screen and (min-width:1024px) {
    .container_accordian .wrapper i.icon_ {
        right: -0;
        top: auto;
    }
}

.container_accordian .wrapper .acco-card {
    width: 84px;
    height: 84px;
    border-radius: 9px;
    border: 1px solid #D9D9D9;
    transition: 0.3s;

}

.container_accordian .wrapper .acco-card h1 {
    color: var(--primary-color);
    line-height: 1;
}

.container_accordian .wrapper .acco-card:hover {
    background-color: var(--primary-color);
    transition: 0.3s;

}

.container_accordian .wrapper .acco-card:hover h1,
.container_accordian .wrapper .acco-card:hover span {
    color: var(--primary-color-light);
}



/* tab section in student work details  */

.image_outer {
    height: 40px;
    width: 40px;
    background: rgba(0, 102, 226, 0.1);
    border-radius: 6.72414px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.students_tab .students_ {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 12px;
}

.students_tab .students_ .sub_btn_1 {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(0, 102, 226, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.students_tab .students_ .sub_btn_2 {
    width: 100%;
    height: 38px;
    background: rgba(0, 102, 226, 0.1);
    border-radius: 8px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.students_tab .students_ .sub_btn_2:hover {
    background: var(--primary-color);
    color: #fff !important;
    transition: 0.3s;
}

.students_tab .students_ .image_outer img {
    width: 24px;
}

.all_student_section .student_filter .nav-tabs {
    border-bottom: none;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.all_student_section .student_filter .nav-tabs .nav-link.active,
.all_student_section .student_filter .nav-tabs .nav-link.active:hover {
    background: var(--primary-color);
    border-radius: 30px;
    color: var(--primary-color-light);
    border: none;
    font-weight: 600;
    font-size: 11px;
    transition: 0.3s;
    padding-left: 18px;
    padding-right: 18px;
    white-space: nowrap;
}

/* .all_student_section .student_filter .nav-tabs .nav-link.active::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    position: absolute;
    border-radius: 50%;
    bottom: 0px;
    left: 50%;
    transform: translate(-37%, 0);
  } */

.all_student_section .student_filter .nav-tabs .nav-link:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.all_student_section .student_filter .nav-tabs .nav-link {
    color: var(--primary-color);
    border-radius: 30px;
    font-weight: 600;
    font-size: 11px;
    transition: 0.3s;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.all_student_section .student_tab {
    height: 75vh;
    overflow: scroll;
}

.all_student_section .student_tab .students_ {
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

.all_student_section .student_tab .students_:hover {
    border: 1px solid var(--primary-color);
    transition: 0.3s;
}

.all_student_section .student_tab .students_.active_student {
    border: 1px solid var(--primary-color);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.all_student_section .student_tab .students_.active_student .icon-right {
    color: var(--primary-color);

}

.wrapper_assignment .card {
    width: 84px;
    height: 84px;
    border-radius: 9px;
    border: 1px solid #D9D9D9;
    transition: 0.3s;

}

.right-col .modal-asignment {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 500;
    position: absolute;
    display: none;

}

.right-col .modal-asignment #hidemodalAssign:hover i {
    color: var(--primary-color);
    transition: 0.3s;

}

.right-col .modal-asignment .group_assign {
    border-radius: 8px;
    border: 1px solid #D2D5DA;
    background: #FFF;
    height: 44px;

}

.right-col .modal-asignment .group_assign .img-assign {
    width: 70px;
}

.right-col .modal-asignment .group_assign .data_,
.right-col .modal-asignment .group_assign .data_ a {
    overflow: hidden;
    white-space: nowrap;

}

.right-col .modal-asignment .group_assign .img-assign img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;

}

.right-col .modal-asignment .submited-content {
    height: 70vh;
    overflow: scroll;

}

@media screen and (min-width:768px) {
    .workdetails .right-col {
        position: relative;
    }
}

/* =============Login Apge CSS=================  */

.main_container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    /* font-family: 'Lexend', sans-serif; */
}

.login_img {

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login_img .logo_wrapper {
    padding: 25px;
}

/* .login_img .logo_wrapper img {
    width: 100%;
} */

.left_container {
    background: var(--secondary-color);
    height: calc(100% - 10%);
    width: calc(100% - 5%);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.centerImage {
    position: absolute;
    width: 350px;
    height: 350px;
    /* background-color: white; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.centerImage .animated_main {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.centerImage .dashed_line {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
    position: absolute;
    border-radius: 330px;
    border: 1px dashed #40455B;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerellips {
    position: absolute;
    width: 243px;
    height: 243px;
    background-color: rgba(217, 217, 217, 0.04);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerellips .imgparent {
    width: 100%;
    height: 100%;
    position: relative;
}

.centerellips img {
    width: 100%;
    height: 100%;
    position: relative;
    animation: MoveUpDown 5s linear infinite;
}

.polygon1 {
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.polygon2 {
    transform: rotate(294deg);
    position: absolute;
    right: -1rem;
    bottom: 15rem;
    width: 60px;
}

.polygon2 img {
    width: 100%;
}

.polygon3 {
    transform: rotate(63deg);
    position: absolute;
    left: -2.3rem;
    bottom: 6rem;
    width: 88px;
}

.polygon3 img {
    width: 100%;
}


#rotator {
    position: relative;
    width: 73%;
    height: 73%;
    animation: rotations 10s linear infinite;
    /* border: 1px orange dashed; */
    border-radius: 50%;
    /* margin: 3rem; */
}

#rotator:before,
#rotator:after {
    position: absolute;
    content: '';
    display: block;
    height: 3rem;
    width: 3rem;
    animation: inherit;
    animation-direction: reverse;
    border-radius: 30px;
}

#rotator:before {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    background: linear-gradient(178deg, #98E53A -11.83%, rgba(139, 207, 57, 0.00) 310.27%, #6ECA00 310.27%);
    filter: drop-shadow(0px 2px 7px rgba(186, 233, 160, 0.38));
    top: -.25rem;
    left: -.25rem;
}

#rotator:after {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    background: linear-gradient(178deg, #98E53A -11.83%, rgba(139, 207, 57, 0.00) 310.27%, #6ECA00 310.27%);
    filter: drop-shadow(0px 2px 7px rgba(186, 233, 160, 0.38));
    bottom: -.25rem;
    right: -.25rem;
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 20px;
    }
}

@keyframes rotations {
    to {
        transform: rotate(360deg)
    }
}

.login_container {
    /* width: 350px; */
    display: flex;
    align-items: center;
    text-align: center;
}

.main_container .main_login {
    width: 100vw;
    height: 100vh;
    max-width: 1524px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    /* padding: 0 2rem; */
    /* background: radial-gradient(50% 50% at 50% 50%, #423F95 0%, #262562 100%); */
}

.main_div {
    width: 100%;
    padding-left: 99px;
    padding-right: 99px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .main_div .logo {
    height: 50px;
    margin-bottom: 15px;
} */

/* .form_ {
    width: 300px;
} */

.title-h {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--secondary-color);
    font-size: 32px;
}

.title-h .logo {
    height: 25px;

}

.title-h h1 {
    font-size: 35px;
}

.title-h h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 24px;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 12% 88%;
    margin: 25px 0;
    border-radius: 8px;
    border: 1px solid #D2D5DA;
    background: #FFF;


}

.input-div .i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.input-div .i i {
    color: #d9d9d9;
    font-size: 18px;
}

.input-div.focus {
    border: 1px solid var(--primary-color) !important;
    background-color: #fff !important;
}

.input-div.focus .i i {
    color: var(--primary-color);
    transition: .3s;
}

.input-div.focus div h5 {
    top: -11px;
    color: var(--secondary-color);
    font-size: 10px;
    padding: 3px;
    background: #fff;
    transition: .1s;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.input-div>div {
    position: relative;
    height: 48px;

}

.input-div>div h5 {
    font-weight: 400;
    color: #BCB9B9;
    position: absolute;
    left: 0;
    top: 27%;
    /* transform: translate(-50%); */
    transition: 0.3s;

}

.input-div input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0rem;
    font-size: 1rem;
    font-family: 'Lexend', sans-serif;
    color: #555;
}

.input-div input:-webkit-autofill,
.input-div input:-webkit-autofill:hover,
.input-div input:-webkit-autofill:focus,
.input-div input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;

}

.p-viewer {
    z-index: 9999;
    position: absolute;
    top: 24%;
    right: 14px;
}

.p-viewer .fa-eye {
    color: #BCB9B9;
    transition: 0.3s;
    cursor: pointer;
}

.p-viewer .fa-eye-slash {
    color: #BCB9B9;
    transition: 0.3s;
    cursor: pointer;
}

.input-div.focus .p-viewer .fa-eye,
.input-div.focus .p-viewer .fa-eye-slash {
    color: #2c2c73;
}

.btn_form {
    display: block;
    width: 100%;
    height: 48px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    /* font-family: 'Lexend', sans-serif; */
    transition: 0.3s;
    /* box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -7px rgb(0 0 0 / 20%); */
    background: var(--primary-color);
}

.btn_form_google {
    display: block;
    width: 100%;
    height: 48px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    /* font-family: 'Lexend', sans-serif; */
    transition: 0.3s;
    /* box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px; */
}

/* .btn_blue {
    background: radial-gradient(50% 50% at 50% 50%, #423F95 0%, #262562 100%);
    color: #fff;
} */

.btn_google {
    color: #999;

}

.btn_form:hover {
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    transition: .3s;
}


.login_container a {
    text-decoration: none;
    transition: .3s;
    color: var(--primary-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login_container a:hover {
    color: var(--secondary-color);
    transition: .3s;
}

.login_container span:before {
    background: #555;
    background: linear-gradient(right, #555 0, #fff 100%);
    left: 0;
}

.login_container span:after {
    background: #555;
    background: linear-gradient(right, #555 0, #fff 100%);
    right: 0;
}

.remember_me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.remember_me input {
    margin-right: 9px;
    margin-left: 5px;
}

.or {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #A3A3A3;
}

.or span {
    background-color: #fff;
    position: absolute;
    transform: translate(0px, -9px);
    padding: 0 12px;
    margin: 0 -20px;
    color: #A3A3A3;
}

/* Google Button  */
.login-with-google-btn {
    transition: background-color 0.3s, box-shadow 0.3s;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    gap: 10px;
    color: #757575;
    font-size: 15px;
    line-height: 12px;
    background-color: white;

}

.login-with-google-btn:before {
    content: "";
    background: linear-gradient(45deg,
            #EB4335, #FBBC05, #34A853, #4285F4);

    position: absolute;
    top: -1px;
    left: -1px;
    background-size: 400%;
    z-index: -1;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 25px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* .login-with-google-btn:hover {
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 12px 34px 12px 34px;
    font-size: 15px;
    line-height: 12px;
    background-image: url("../images/googlew.png");
    background-repeat: no-repeat;
    background-position: 12px 9px;
    background-size: 18px;

} */

.login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}

/* Media Query CSS  */
@media screen and (max-width: 1240px) {
    .title-h {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 10px;
        color: var(--secondary-color);
    }
    .title-h h1 {
        font-size: 24px;
     }
}
@media screen and (max-width: 1050px) {
    .main_container .main {
        grid-gap: 5rem;
    }
    .main_container .main_login {
        grid-template-columns: repeat(1, 1fr);
    }
    .main_div {
        width: 600px;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .login_img {
        display: none;
    }
    .login_container {
        width: auto;
        justify-content: center;
    }
}

@media screen and (max-width: 1000px) {
    /* .form_ {
        width: 300px;
    } */

    .form_ h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    
  
  

}

@media screen and (max-width: 900px) {
   

    .main_container .main {
        grid-template-columns: 1fr;
    }
    .main_div {
        width: 400px;
    }
   

}

@media screen and (max-width: 500px) {
    .main_div {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}